<h1>Edit your profile</h1>

<div class="row">
  <div class="input-field">
    <input value="Vadim Zhukov" id="name" type="text" >
    <label for="name">Name</label>
  </div>
  <p>&nbsp;</p>
  <div class="input-field">
    <input value="vadim@gmail.com" id="e-mail" type="text" >
    <label for="e-mail">E-mail</label>
  </div>
  <a class="btn" href="/home/edit">Изменить</a>

</div>