<nav class="cyan darken-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">&nbsp;Courses blog</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/courses">Курсы</a></li>
        <li><a href="/">Войти</a></li>
    </ul>
  </div>
</nav>